


@font-face {
    font-family: "4000";
    src: url(/assets/fonts/4000/4000-bold.eot);
    src: url(/assets/fonts/4000/4000-bold.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/4000/4000-bold.otf) format("otf"), url(/assets/fonts/4000/4000-bold.otf) format("otf");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "4000";
    src: url(/assets/fonts/4000-heavy.eot);
    src: url(/assets/fonts/4000-heavy.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/4000/4000-heavy.otf) format("otf"), url(/assets/fonts/4000/4000-heavy.otf) format("otf");
    font-weight: 800;
    font-style: normal
}

body {
    background-color: #ee7203;
    font-family: "4000";
}





/* --------header---------*/

.header {
    position: relative;
    width: 100vw;
    height: 630px;
}

#header3 {
	justify-content: center;
	text-align: center;
    background-image:url("billeder/1x/orangebg-min.jpg") ;
    max-width: 100%;
    background-size:contain;
    z-index: 0;
   
	
	
}
#header3 h2.title {
	justify-content: center;
    text-align: center;
    font-weight: 800;
    font-size: 2.5em;
	
    
   
		
}

#header3 .caption {
    z-index: 5;
    text-align: center;
    color: #fff;
}



h2{
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 400px;
}

.header .left {
   
    width: 100%;
	margin-left: 20%;
	margin-top: -90px;

 }
.caption h2{
	display: flex;
	justify-content: center;
}

.logo_img img{
    margin-top: 15%;
    margin-left: 3%;
    max-width: 100%;
    max-height: 100%;
}
/*---video section---*/

.wrapper{
    position: relative;
    max-width: 100%;
    height: 690px;
    background-image: url("billeder/1x/feelingblue-min.jpg");
    background-size:contain;

}



/*--video box--*/

.video{
    display: flex;
    justify-content: center;
    padding:20px;
}



#text{
	display: flex;
    justify-content: center;
    text-align: center;
    column-count: 2px;
    margin-left: 2%;
    margin-right: 1%;
    font-family: "4000-regular", sans-serif;
	
	
	
}
/*---button - video box section---*/

.container {
    height: 100px;
    position: relative;
    padding: 10px;
    width:100%;
    text-align: center;
    

  }

button{
    display: inline-block;
    border: 2px solid #ee7203;
    color: #ee7203;
    background-color: #fff;
    width: auto;
    margin-left: 2.777777777777778%;
    margin-right: 2.777777777777778%;
    margin-bottom: 1rem;
    font-family: "4000",Helvetica,Tahoma,sans-serif;
    font-weight: 700;
    line-height: .98em;
    font-size: 14px;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-decoration: none!important;
    padding: 1.6rem 3.2rem;
    max-width: 100%;
  }

button:hover{
    border: 2px solid #fff; 
    color: #fff;
    background-color:#ee7203; 
}

a.arrow::after{
    content: "";
    display: inline-block;
    background-image: url("billeder/arrow_right_orange.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.3em;
    height: 1.3em;
    margin-bottom: -7px;
    margin-left: -3%;
    transform: translateX(0);
    transition: transform .24s cubic-bezier(1,0,0,1);
  }

a.arrow::after:hover{
    background-image: url("billeder/arrow_right_white.png");
}

  
/*--spil sektion--*/
.wrapper2 {
    position: relative;
    width: 100%;
    height: 500px;
	background-color: #0971ce;

		
}
.bluebg{
	background-color: #0971ce;
	height: 700px;
	max-width: 100vw;

}

.bluebg h3{
	display: flex;
	justify-content: center;
	padding: 10px;
}

.spil{
	display: flex;
	justify-content: center; 
		
}

.spil_text{
    padding:20px;
}
.app a{
    color:black;
    text-decoration:none;
    display: flex;
    justify-content: center;
    padding:10px;
}

.app a:hover{
    text-decoration: none;
    color:#ee7203;

}
.app img{
    margin-left: 46%;
    
}

/*---footer---*/

.footerstyle{

    background-image: -moz-linear-gradient(#ee7203, #0971ce);
    margin:10px;
    padding: 30px;

    


   }

footer p {
    color: black;
    font-family: "Raleway", sans-serif;
}

footer .fa-facebook {
    color: white;
}

footer .fa-twitter {
    color: white;
}

footer .fa-google {
    color: white;
}

footer .fa-linkedin {
    color: white;
}

footer .fa-youtube {
    color: white;
}

footer .fa-instagram {
    color: white;
}

.game-wrapper-mobile {
    display: block;
    color: white;
}

.game-wrapper {
    display: none;
}

/*---contact----*/

.contact .row p {
    padding: 1em;
}

.contact .row h2 {
    text-align: center;
    padding-top: 1em;
}

.contact form {
    padding: 1em 2em 2em 2em;
}

/*=== store devices===*/

@media (min-width: 560px) {
    .header .center {
        width: 50%;
    }
    .header .left {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 40%;
        height: 60%;
        transform: translate(0, 0);
        padding: 1rem;
    }
    #header3 .right {
        display: block;
    }
    #header3 .caption {
        text-align: left;
    }
    
    @media (min-width:1200px){
        .vertical-center{
         margin-left: 1.19047619047619%;
         margin-right: 1.19047619047619%;
        }
    }
    /*---Footer---*/